body {
    margin: 0px;
    padding: 0px;
}

.black {
    color: black
}

.radius {
    border-radius: 3px;
}

.title {
    background-color: #C62127;
    color: white;
    font-size: 23px;
    border-radius: 2px;
}

.title p {
    padding: 0% 2%;
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.main .presentation-section {
    height: auto;
    border-bottom: 100px solid #C62127;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0% 3% 0%;
}

.presentation-section .presentation-container {
    width: 80%;
    height: 100%;
    display: flex;
}

.presentation-container .presentation-sections {
    width: 50%;
    height: auto;
}

.left-presentation-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right-presentation-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .statistic-info .statistic-text p {
    padding: 5%;
}

.left-presentation-section .name-text {
    color: #C62127;
    font-weight: bold;
    font-size: 50px;
}

.left-presentation-section p {
    padding-left: 5%;
}

.name-text p {
    padding-right: 25%;
    line-height: 1.4em;
}

.left-presentation-section .country-text,
.bank-text {
    color: #006633;
    font-weight: bold;
    font-size: 23px;
    color: black;
}

.main .motto-section {
    width: 100%;
    height: 450px;
    background-color: #006633;
    display: flex;
    justify-content: center;
    align-items: center;
}

.motto-section .motto {
    color: white;
    font-weight: bold;
    font-size: 23px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.motto .quotation-mark {
    font-size: 70px;
}

.motto .text {
    margin-top: -25px;
}

.main .history-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0% 0% 0%;
}

.history-section .history-container {
    width: 90%;
    height: auto;
}

.history-container .history-img-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.history-container .history-info-container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 5% 0% 5% 0%;
}

.history-info-container .history-title {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 50px;
    color: #C62127;
    margin-left: 2%;
}

.history-info-container .history-text {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0% 2% 0% 2%;
    font-size: 19px;
    color: black;
}

.main .food-bank-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-bank-section .what-food-bank {
    width: 90%;
    height: auto;
}

.what-food-bank .food-bank-text {
    display: flex;
    font-size: 19px;
    text-align: justify;
    margin-top: 2%;
}

.food-bank-text p {
    padding: 2%;
}

.food-bank-section .objetive-section {
    width: 90%;
    display: flex;
    padding-bottom: 5%;
    margin-top: 2%;
}

.objetive-section .objetive-sections {
    width: 50%;
}

.objetive-section .objetive-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.objetive-section .objetive-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.objetive-img img {
    width: 80%;
    border-radius: 2px;
}

.objetive-container .objetive-title {
    background-color: #006633;
    color: white;
    font-size: 23px;
    padding-left: 4%;
    border-radius: 2px;
}

.objetive-container .objetive-text {
    align-self: center;
    font-size: 19px;
    font-weight: bold;
}

.food-bank-section .why-food-bank {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 0%;
}

.why-food-bank .why-food-title {
    text-align: right;
    width: 100%;
}

.why-food-bank .statistics-container {
    height: auto;
    width: 85%;
    display: flex;
}

.why-food-bank .statistic-location {
    width: 85%;
    font-weight: bold;
    margin-top: 2%;
}

.statistics-container .statistic {
    height: auto;
    width: 50%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistic .statistic-info {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistic-info .statistic-box {
    display: flex;
    justify-content: center;
}

.statistic-info .statistic-number {
    display: flex;
    justify-content: center;
    font-size: 150px;
    font-weight: bold;
    height: 200px;
    align-items: center;
}

.statistic-info .statistic-text {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    color: black;
    font-weight: bold;
}

.statistics-container>.left .statistic-number {
    width: 40%
}

.statistics-container>.left .statistic-text {
    width: 60%
}

.statistics-container>.right .statistic-number {
    width: 70%
}

.statistics-container>.right .statistic-text {
    width: 30%;
}

.statistic-box>.right p {
    width: 40%;
}

.statistic-info .red {
    color: #C62127;
}

.statistic-info .green {
    color: #006633;
}

hr {
    width: 100%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border: 0;
    height: 0.063em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #C62127, rgba(0, 0, 0, 0));
}

.main .information-section {
    width: 90%;
    height: auto;
    display: flex;
    margin-bottom: 4%;
}

.main .information-subtitle {
    width: 90%;
    font-weight: bold;
}

.information-section .information-container {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 2%;
}

.information-section .right-info {
    background-color: #C62127;
}

.information-section .left-info {
    background-color: #006633;
}

.information-container .middle {
    display: flex;
    width: 100%;
    height: 100%;
}

.information-container .information-text-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.information-text-container .information-text {
    width: 70%;
    margin-top: 7%;
    font-size: 20px;
}

.information-text-container .information-title {
    font-size: 30px;
}

.information-text-container .information-img {
    width: 70%;
    height: 150px;
    background-color: black;
    margin-top: 5%;
}

.main .who-are-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.who-are-section .who-are-title {
    width: 90%;
    text-align: left;
}

.who-are-title p {
    padding-left: 2%;
}

.who-are-section .members-section {
    width: 80%;
    height: auto;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.members-section .member-container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3%;
}

.members-section .interns {
    width: 100%;
    margin-top: 6%;
}

.members-section .interns>.member-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.member-container .member-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-img-container .member-img {
    width: 45%;
    height: auto;
}

.member-container .member-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-info .member-title {
    width: 50%;
    color: #006633;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.member-title p {
    width: 80%;
}

.member-info .member-text {
    color: white;
    background-color: #006633;
    width: 65%;
    padding: 3%;
    margin-top: 2%;
    font-size: 17px;
    text-align: justify;
}

.member-info .interns-info {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-info .block {
    display: block;
}

.member-info .interns-text {
    color: white;
    background-color: #006633;
    padding: 2%;
    font-size: 17px;
}

.interns-info .member-img {
    width: 75%;
    height: auto;
}

.interns-info .member-text {
    width: 100%;
}

.interns-text .interns-p {
    line-height: 1.5em;
}

.interns-info .interns-title {
    color: #006633;
    font-size: 25px;
    font-weight: bold;
    padding: 1.5% 0%;
}

.main .departments-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.departments-section .departments-title {
    width: 90%;
    text-align: left;
}

.departments-section .departments-container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: beige;
}

.departments-container .department {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
}

.department .department-title {
    width: 100%;
    color: #C62127;
    font-weight: bold;
    font-size: 17px;
}

.department .department-text {
    width: 100%;
    text-align: justify;
    line-height: 1.6em;
}

.main .impact-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.impact-section .impact-title {
    width: 90%;
    height: auto;
    text-align: left;
}

.impact-section .impact-container {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0%;
}

.impact-container .impact-info {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: beige;
    border-radius: 2px;
}

.impact-container .impact-img-container {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
}

.impact-img-container img {
    width: auto;
    height: 250px;
}

.impact-info .impact-title-container {
    width: 100%;
    color: #C62127;
    font-weight: bold;
    font-size: 17px;
}

.impact-info .impact-text {
    text-align: justify;
}


/* TABLET */

@media only screen and (max-width: 1024px) {
    .presentation-section .presentation-container {
        width: 90%;
    }
    .left-presentation-section p {
        padding-left: 0%;
    }
    .name-text p {
        padding-right: 0%;
    }
    .history-info-container .history-title {
        margin-left: 0%;
        font-size: 40px;
    }
    .statistic .statistic-info {
        width: 90%;
    }
    .statistic .statistic-text {
        width: 50%;
    }
    .statistic-info .statistic-number {
        font-size: 100px;
    }
    .information-section .information-container {
        height: 370px;
    }
    .information-text-container .information-title {
        font-size: 16px;
    }
    .information-text-container .information-text {
        font-size: 14px;
        width: 60%;
    }
    .who-are-section .members-section {
        width: 90%;
    }
    .member-info .member-title {
        font-size: 17px;
    }
    .interns-info .interns-title {
        font-size: 17px;
        text-align: center;
    }
}


/* MOBILE */

@media only screen and (max-width: 600px) {
    .presentation-section .presentation-container {
        flex-direction: column-reverse;
    }
    .presentation-container .presentation-sections {
        width: 100%;
    }
    .left-presentation-section p {
        margin: 2% 0% 2% 0%;
        padding-right: 0%;
    }
    .history-container .history-info-container {
        flex-direction: column;
        align-items: center;
    }
    .history-info-container .history-title {
        width: 95%;
    }
    .history-info-container .history-text {
        width: 95%;
        padding: 0%;
        font-size: 19px;
    }
    .history-title p {
        line-height: 1.4em;
    }
    .what-food-bank .food-bank-text {
        flex-direction: column;
    }
    .food-bank-section .objetive-section {
        flex-direction: column-reverse;
    }
    .objetive-section .objetive-sections {
        width: 100%;
    }
    .objetive-section .objetive-container {
        margin-top: 10%;
    }
    .objetive-container .objetive-text {
        text-align: center;
        margin: 5% 0%;
    }
    .why-food-bank .statistics-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .why-food-bank .statistic-location {
        width: 100%;
    }
    .statistics-container .statistic {
        width: 80%;
        margin-top: 5%;
    }
    .statistics-container>.left {
        align-self: flex-start;
    }
    .statistics-container>.right {
        align-self: flex-end;
    }
    .statistic .statistic-info {
        width: 100%;
    }
    .statistics-container>.right .statistic-number {
        width: 60%;
    }
    .statistics-container>.right .statistic-text {
        width: 40%;
        line-height: 1.5em;
    }
    .statistics-container .statistic-info {
        height: 130px;
    }
    .information-section .information-container {
        height: 350px;
        width: 100%;
    }
    .main .information-section {
        flex-direction: column;
        align-items: center;
    }
    .information-section .information-container {
        margin-top: 0%;
    }
    .who-are-section .members-section {
        flex-direction: column;
    }
    .member-info .member-text {
        width: 80%;
    }
    .members-section .member-container {
        width: 100%;
    }
    /* .member-container .member-info>.reverse {
        flex-direction: row-reverse;
    } */
    .member-container .member-img-container {
        justify-content: space-evenly;
    }
    .members-section .interns>.member-info {
        flex-direction: column;
    }
    .member-info .interns-info {
        width: 85%;
    }
    .member-info .interns-text {
        margin-top: 2%;
        text-align: justify;
    }
    .interns-info .member-img {
        width: 50%;
        height: auto;
    }
    .departments-section .departments-container {
        flex-direction: column;
    }
    .departments-container .department {
        width: 90%;
    }
    .impact-container .impact-img-container {
        display: none;
    }
    .impact-section .impact-container {
        width: 90%;
    }
    .impact-container .impact-info {
        width: 90%;
    }
}

@media only screen and (max-width: 320px) {
    .statistics-container .statistic {
        width: 85%;
    }
}